<section id="my-cards-section">
    <div class="container">
        <div class="row header">
            <div class="col text-center">
                <div class="h1 mb-5">Checkout <span style="color: green;">@ViewBag.Special</span>  </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecardpic1.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titons: 2nd Edition</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard4.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Thanos X Thor</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/cardpanther.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Inki Pinki</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard2.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Jedi: The Last Survivor</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard2.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Warzone: The endgame</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard4.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Spoidey: Far From You</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/cardpanther.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Judan: The First War</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecardpic1.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">BigBoi: No Violence</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <br>
        <br>




        <div class="row">
            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecardpic1.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Titons: 2nd Edition</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard4.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Thanos X Thor</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/cardpanther.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Inki Pinki</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3">
                <a href="/home/gamepage">
                    <div class="mycard text-center">
                        <div class="card-img-div">
                            <img src="~/pics/gamecard2.jpg"
                                 class="img-fluid card-img"
                                 alt="" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Jedi: The Last Survivor</h5>
                            <button type="button" class="btn btn-success">
                                <i class="fa-solid fa-lg fa-dollar-sign"></i> 19
                            </button>
                            <a href="#" class="btn btn-secondary card-cart-button">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                            <a href="#" class="btn btn-secondary">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

